dist/
i18n/
engines/
node_modules/

*bundle.js*
bundle.js.LICENSE.txt

*.pdn
*.vbs
*.pdf

# 忽略未跟踪的模块文件
src/modules/fileManager.js
src/modules/historyManager.js
src/modules/menuManager.js
src/modules/navigationManager.js
src/modules/ui.js
src/modules/viewManager.js

my.txt
xiuxing.sgf

.DS_Store