# Electron国内镜像配置
registry=https://registry.npmmirror.com/
disturl=https://npmmirror.com/dist
electron_mirror=https://npmmirror.com/mirrors/electron/
electron-builder-binaries-mirror=https://npmmirror.com/mirrors/electron-builder-binaries/