name: Create Release

on:
  push:
    tags:
      - v*

jobs:
  create-release:
    strategy:
      matrix:
        os: [windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16.x
    - uses: actions/setup-go@v3
      with:
        go-version: 1.17.x
    - name: Extract info
      id: info
      run: |
        node ./ci/extractInfo.js
      env:
        GITHUB_REF: ${{ github.ref }}
    - name: Create & upload artifact
      run: |
        npm install
        npm run ${{ steps.info.outputs.distcommand }}
        npx rimraf ./dist/*.yml ./dist/*.yaml ./dist/*.blockmap
    - name: Upload release assets
      uses: softprops/action-gh-release@v2
      with:
        name: "Sabaki v${{ steps.info.outputs.version }}"
        prerelease: true
        files: ./dist/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}